<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>

    <!-- Code to run if no cheeses in session-->
    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese :'(</p>

    <form method="post">
        <!-- Iterate through cheese objects if they are present-->
        <!-- TODO: add checkboxes to remove cheese from list -->
        <ul th:each="cheese : ${cheeses}" >
            <div class="chsUnit" th:id="${cheese.key}+'Group'">
                <li th:text="${cheese.key}"></li>
                <!-- Checkbox elements for item removal -->
                <input class="chsRemoval" type="checkbox" th:id="'rmv'+${cheese.key}" th:name="${cheese.key}" th:value="'rmv'+${cheese.key}" />
                <!-- The label for checkbox above -->
                <label class="chsRemoval" th:for="'rmv'+${cheese.key}" th:text="'Remove '+${cheese.key}"></label>
                <ul>
                    <li th:text="${cheese.value}">Default</li>
                </ul>
            </div>
        </ul>
        <input type="submit" value="Remove Checked Items" />
    </form>
</body>
</html>