body {
    margin: 0 auto;
    background-color: black;
    color:white;
    padding-right: 10%;
    padding-left: 10%;
    font-family:sans-serif;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right:1em;
}
a:before{
    content:"> ";
}
a:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right:1em;
    color: white;
}
input{
    display:block;
    margin-bottom: 1em;
}
form{
    margin-top: 2em;
}